.task_bar_container {
  padding: 2%;
  height: 80px;
  border-radius: 10px;
  display: grid;
  align-items: center;
  // justify-items: center;
  justify-items: start;

  grid-template-columns: 1fr 1fr 3fr;
  // grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.doneTasksCounter {
  font-size: 1rem;
}

.add_task_btn {
  width: 100px;
}

.task_bar_filter {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    span {
      margin: 0;
    }
  }
}

@media screen and (max-width: 870px) {
  .task_bar_container {
    height: auto;
    justify-items: center;
    gap: 20px;
    grid-template-columns: auto auto;
  }
  .task_bar_filter {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (max-width: 530px) {
  .task_bar_filter {
    flex-direction: column;
    align-items: flex-start;
  }
}
