.task_card_title {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 15px;
  justify-content: space-between;
  word-break: break-word;
}

.single_card_desc {
  word-break: break-word;
}

.task_radio_group {
  display: flex;
  flex-direction: row !important;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
}
